@import "/styles/variables";
@import "/styles/mixins";
@import "/styles/fonts";

.menu {
    @include md-max {
        display: none;
    }

    &__nav {
        border-bottom: solid $border-color;
        border-width: 1px;
        display: flex;
        list-style: none;
        gap: 2rem;
        justify-content: center;
    }

    &__menuBtn {
        outline: none;        
        border: 0;
        background: transparent;

        &__logo {
            padding-bottom: 1rem;
            font-size: 1rem;
            font-weight: 500;
            font-family: $main-font;

            img {
                margin-left: 0.2rem;
                margin-bottom: 0.1rem;
            }
        }
    }

    &__dropDawnMenu {
        display: none;

        &--show {
            position: absolute;
            top: 9.05rem;
            display: block;
            border: solid $border-color;
            background-color: white;
            border-width: 1px;
            list-style: none;
            padding: 1rem 1rem 1rem 1rem;
            width: 176px;

            @include lg-max {
                width: 90px;
            }
        }
    }

    &__list {
        border-bottom: solid $border-color;
        border-width: 1px;
        text-align: left;
        font-weight: 400;
        font-family: $main-font;

        p {
            font-size: 0.8rem;
            img {
                float: right;
            }
        }

        p:hover {
            color: $hover-color;
            margin-left: 0.5rem;
        }

        &--borderNon {
            border: none;
        }
    }
}

.myLink {
    color: black;
    font-family: $main-font;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 1rem;
    text-decoration: none;
}