@import "/styles/variables";
@import "/styles/mixins";
@import "/styles/fonts";

.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.411);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;

    &--active {
        opacity: 1;
        pointer-events: all;
    }

    &__content {
        padding: 1.25rem;
        border-radius: 12px;
        background-color: white;
        width: 25vw;
        transform: scale(0.5);
        transition: 0.4s all;

        @include lg-max {
            width: 50vw;
        }
        @include xs-max {
            width: 75vw;
        }

        h1 {
            font-family: $main-font;
        }

        p {
            font-family: $main-font;
        }

        button {
            outline: none;
            border: 0;
            color: white;
            padding: 1rem 2rem 1rem 2rem;
            border-radius: 24px;
            background: black;
        }
        button:active {
            background-color: $hover-color;
        }

        &--active {
            transform: scale(1);
        }
    }
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}