@import "/styles/variables";
@import "/styles/mixins";
@import "/styles/fonts";

.content {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1160px;
    gap: 40px;
    padding-bottom: 6.25rem;
}

.card {
    width: 360px;
    
    @include xs-max {
        width: 300px;

        img {
            width: 300px;
        }
    }    

    &__tag {
        color: $tag-color;
        font-family: $main-font;
        font-weight: 700;
        font-size: 13px;
    }

    &__title {
        font-family: $main-font;
        font-weight: 700;
        font-size: 1.5rem;
    }

    &__meta {
        display: flex;

        p {
            font-family: $main-font;
            font-weight: 500;
            font-size: 0.75rem;
        }

        .list {
            font-family: $main-font;
            color: $meta-color;
            font-size: 0.75rem;

            li {
                margin-right: 2rem;
            }
        }
    }

    &__text {
        font-family: $main-font;
        font-weight: 400;
        font-size: 0.875rem;
        color: $content-color;
    }
}